<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.telephony" />

    <uses-permission
        android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"
        tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <package android:name="com.android.sms" />
    </queries>

    <application
        android:name="com.messages.application.MessageApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_label"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Messages"
        tools:targetApi="31">
        <activity
            android:name="com.messages.ui.call_end.CallEndActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:taskAffinity=".ui.call_end.CallEndActivity"
            android:turnScreenOn="true" />
        <activity
            android:name="com.messages.ui.details.ConversationDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.swipe_action.SwipeActionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.chat_wallpaper.ChatWallpaperActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.scheduled.ScheduledActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.spam_blocked.SpamBlockedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.backup_restore.ui.BackupRestoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.private_chat.private_setting.PrivateSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.private_chat.confirm_n_security_pin.SecurityPrivateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.private_chat.pin_ui.ui.EnterPinActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.messages.ui.private_chat.chat.ui.PrivateChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.appearance.ui.AppearanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.new_chat.ui.ContactActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
                <data android:scheme="sms_body" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.messages.ui.search.ui.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.default_searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.messages.ui.chat.ui.ChatActivity"
            android:exported="true"
            android:parentActivityName=".ui.home.ui.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.messages.ui.archived.ui.ArchivedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.setting.ui.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.overlay_permission.OverlayPermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.permission.PermissionAskActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.onboarding.ui.OnBoardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.language.ui.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RemoveSplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MESSAGING" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.messages.ui.home.ui.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.messages.ui.overlay_permission.dialog.OverlayDialogActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- receivers -->
        <receiver
            android:name="com.messages.common.receivers.SmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.android.mms.transaction.PushReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
                <data android:mimeType="application/vnd.wap.sic" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.messages.common.receivers.SmsStatusSentReceiver"
            android:exported="true"/>
        <receiver
            android:name="com.messages.common.receivers.SmsStatusDeliveredReceiver"
            android:exported="true"/>
        <receiver
            android:name="com.messages.common.receivers.MmsSentReceiver"
            android:exported="true"
            android:taskAffinity="com.klinker.android.messaging.MMS_SENT" />
        <receiver
            android:name="com.messages.common.services.SmsSendStatusServiceReceiver"
            android:exported="true" />
        <receiver
            android:name="com.messages.common.receivers.MarkingAsReadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.messages.action.mark_as_read" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.messages.common.receivers.ReplySmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.messages.action.reply" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.messages.common.receivers.DeleteSmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.messages.action.delete" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.messages.common.receivers.ScheduledMessageReceiver"
            android:exported="false" />

        <receiver
            android:name="com.messages.common.receivers.CallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.messages.common.receivers.AppBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- services -->
        <service android:name="com.android.mms.transaction.TransactionService" />
        <service
            android:name="com.messages.common.services.SmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service
            android:name="com.messages.common.services.AppCallService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/app_color" />

        <service
            android:name=".common.services.AppFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>